html,
body {
  height: 100%;
}

ul {
  list-style-type: none;
}

.page-main {
  width: 100%;
  max-width: 400px;
  margin-left: 20px;
}

@media (max-width: 450px) {
  .page-main {
    margin: auto !important;
  }
}